[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana = "Dua4QHV8oHr8Mxna9jngcTgACVVpitrAdDK4xVHufjCG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
